<!-- Just Arrived , banner , offer , validation -->
<%- include("user_header") %>
    <div class="col-lg-12"></div>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <% for (const sl of slider) {%>
                <div class="carousel-item active" style="height: 410px;">
                    <img class="img-fluid" src="<%= sl.slider_image %>" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h4 class="text-light text-uppercase font-weight-medium mb-3">
                                <%= sl.product_id.discount %>% Off Your First Order
                            </h4>
                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                                <%= sl.product_id.name.slice(0,20) %>...
                            </h3>
                            <a href="/single_product/<%= sl.product_id.id %>" class="btn btn-light py-2 px-3">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
                <% } %>



        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
    </div>
    </div>
    </div>
    <!-- Navbar End -->

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex px-xl-5 justify-content-center pb-3" style=" overflow-x: auto;">
            <% for (const cat of category) {%>
                <div class="col-1   pb-1">
                    <div class="cat-item d-flex flex-column align-items-center mb-4">
                        <a href="/product_cat/<%= cat.id %>" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="<%= cat.category_image %>" width="100px" height="100px" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">
                            <%= cat.category %>
                        </h5>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <!-- Categories End -->

    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <% for (const pro of tra) {%>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <form action="/add_cart" method="post">
                        <!-- add static deatile -->
                        <input type="hidden" name="product_id" value="<%=pro.id%>">
                        <input type="hidden" name="size" value="<%= pro.size[0] %>">
                        <input type="hidden" name="color" value="<%= pro.color[0] %>">
                        <input type="hidden" name="quantity" value="1">

                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                                style="max-height: 360px">
                                <img class=" w-100" src="<%= pro.image %>" alt=""
                                    style="object-fit: cover; width: 500px; height: 500px;">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">
                                    <%= pro.name %>
                                </h6>
                                <div class="d-flex justify-content-center">
                                    <h6>₹ <%= pro.price %>
                                    </h6>
                                    <h6 class="text-muted ml-2"><del>₹ <%= pro.old_price %></del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/single_product/<%= pro.id %>" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <% if (locals.user) {%>
                                    <button type="submit" href="/add_to_cart/:<%= pro.id %>"
                                        class="btn btn-sm text-dark p-0"><i
                                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                                        Cart</button>
                                    <%}else{ %>

                                        <a href="" class="btn btn-sm text-dark p-0" data-bs-toggle="modal"
                                            data-bs-target="#login">
                                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                                        </a>
                                        <% } %>
                            </div>
                        </div>
                    </form>
                </div>
                <% } %>
        </div>
    </div>
    <!-- Products End -->

    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod
                        duo labore labore.</p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->
    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <% for (const pro of last) {%>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <form action="/add_cart" method="post">
                        <!-- add static deatile -->
                        <input type="hidden" name="product_id" value="<%=pro.id%>">
                        <input type="hidden" name="size" value="<%= pro.size[0] %>">
                        <input type="hidden" name="color" value="<%= pro.color[0] %>">
                        <input type="hidden" name="quantity" value="1">

                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                                style="max-height: 360px">
                                <img class=" w-100" src="<%= pro.image %>" alt=""
                                    style="object-fit: cover; width: 500px; height: 500px;">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">
                                    <%= pro.name %>
                                </h6>
                                <div class="d-flex justify-content-center">
                                    <h6>₹ <%= pro.price %>
                                    </h6>
                                    <h6 class="text-muted ml-2"><del>₹ <%= pro.old_price %></del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/single_product/<%= pro.id %>" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <% if (locals.user) {%>
                                    <button type="submit" href="/add_to_cart/:<%= pro.id %>"
                                        class="btn btn-sm text-dark p-0"><i
                                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                                        Cart</button>
                                    <%}else{ %>

                                        <a href="" class="btn btn-sm text-dark p-0" data-bs-toggle="modal"
                                            data-bs-target="#login">
                                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                                        </a>
                                        <% } %>
                            </div>
                        </div>
                    </form>
                </div>
                <% } %>
        </div>
    </div>
    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <% for (const br of brand) {%>
                        <div class="vendor-item border p-4">
                            <img src="<%= br.image %>" alt="" style="width: 150px;height: 100px; object-fit: contain;">
                        </div>
                        <%} %>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    <%- include("user_footer") %>