<%- include('../header') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="<%=locals.admin.image%>"
                    alt="User profile picture" style="height: 100px; width: 100px;">
                </div>
                <h3 class="profile-username text-center">
                  <%= locals.admin.name %>
                </h3>
                <p class="text-muted text-center">
                  <%= locals.admin.company %>
                </p>
                <div class="card-header">
                  <h3 class="card-title">About Me</h3>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fa-solid fa-building"></i> company</strong>

                  <p class="text-muted">
                    <%= locals.admin.description %>
                  </p>

                  <hr>

                  <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                  <p class="text-muted">
                    <%= locals.admin.city %>
                  </p>

                  <hr>

                  <strong><i class="fa-solid fa-boxes-packing"></i> Product</strong>

                  <p class="text-muted">
                    <%= locals.admin.product_type %>
                  </p>

                  <hr>

                  <strong><i class="fa-solid fa-envelope"></i> Email</strong>

                  <p class="text-muted">
                    <%= locals.admin.email %>
                  </p>
                  <div class="float-right">

                    <a href="/admin/logout" class="btn btn-primary" style="float: right; margin-left: 10px;">Log Out</a>
                    <a href="/admin/change_password/<%= locals.admin.id %>" class="btn btn-primary" style="float: right; margin-left: 10px;">Change Password</a>
                    <a href="/admin/edit_profile_page/<%= locals.admin.id %>" class="btn btn-primary" style="float: right;">Edit</a>
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <div class="card card-primary">
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include('../footer') %>